{% extends "base.html" %}

{% block title %}Log in{% endblock %}
{% block header %}<h1>Please Log in</h1>{% endblock %}

{% block content %}

<div id="loginform">
  Don't have an account - <a href="#" onclick="$('#loginform').hide('slow'); $('#registrationform').show('slow');">register</a>
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='post'>
    <ul class="form">
      <li>
	<label for="username">User name:</label>
	<input type="text" name="username" value="" id="username">
      </li>
      <li>
	<label for="password">Password:</label>
	<input type="password" name="password" value="" id="password">
      </li>
      <li>
	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next|escape }}" />
      </li>
    </ul>
  </form>
</div>
<div id="registrationform" style="display: none">
  Already have an account - <a href="#" onclick="$('#registrationform').hide('slow'); $('#loginform').show('slow');">login</a>
<form action="{% url registration_register %}" method="POST">
  <ul class="form">
    <li><label for="id_username">username:</label>
      <input id="id_username" type="text" class="required" name="username" maxlength="30" /></li>
    <li><label for="id_email">email address:</label>
      <input id="id_email" type="text" class="required" name="email" maxlength="75" /></li>
    <li><label for="id_password1">password:</label>
      <input id="id_password1" type="password" class="required" name="password1" /></li>
    <li><label for="id_password2">password (again):</label>
      <input id="id_password2" type="password" class="required" name="password2" /></li>
    <li><input id="id_submit" type="submit" name="submit" value="Send validation email"></li>
</ul>
</form>
</div>
{% endblock %}

{% block ajax %}
error - must be logged in
{% endblock %}
