{% extends "base.html" %}

{% block title %}Showing Book - {{book.name}}{% endblock %}
{% block header %}<h1>{{book}}</h1>{% endblock %}
{% block content %}
<div class="author">written by {{book.authors.all|join:", "}}</div>
<div class="rating">Rating: {{book.get_rating_percentage}}
<a href="{% url books.views.rate_book book.id "+" %}">+</a>
<a href="{% url books.views.rate_book book.id "-" %}">-</a>
</div>
<blockquote>
{{book.blurb|linebreaks}}
</blockquote>
<div class="info">
Genre: {{book.genre}} 
{% if book.series %}| Series: {{book.series}}{% endif %}
{% if book.amazon_link %} | <a href="{{book.amazon_link}}">Amazon</a> {% endif %}
</div>

<h2>Reviews <a href="{% url books.views.add "review" %}?for_book={{book.id}}&back_to={% url books.views.show "book" book.id%}" class="headerlink">add a review</a></h2>
{% if not book.review_set.count %}
There are no reviews for this book :(
{% endif %}
{% for review in book.review_set.all %}
<div class="review" id="{{review.id}}" class="review {% cycle 'review-even' 'review-odd' %}">
<strong>Reviewed by:</strong>
<a href="{{request.HTTP_ROOT}}/accounts/profile/{{review.created_by.id}}">{{review.created_by}}</a>
<br/><strong>Rating: </strong> {{review.get_rating_display}}
<br/><blockquote>{{review.review_contents}}</blockquote>
</div>
{% endfor %}
{% endblock %}
