{% extends "base.html" %}
{% block title %}Showing Books{% endblock %}

{% block header %}<h1>Books</h1>{% endblock %}
{% block head %}
<script type="text/javascript">
google.setOnLoadCallback(function() {
   var url = "{{site}}{% url books_show "book" %}";
   var current_page = {{page_obj.number|default:"0"}};
   var max_page = {{paginator.num_pages|default:"0"}};
   function go(direction) {
      var newpage = current_page + direction
      if((1 <= newpage) &&  (newpage <= max_page)) {
         current_page = newpage;
         $('ul.objectlist').load(url + "?page=" + current_page + "&ajax=true");
	 $('div.pagination a').removeClass('inactive');
         if(current_page == 0)
            $('#page_previous').addClass('inactive');
         if(current_page == max_page)
            $('#page_next').addClass('inactive');
      }
   }
   $('#page_previous').click(function(e) {
      e.preventDefault();
      go(-1);
   });
   $('#page_next').click(function(e) {
      e.preventDefault();
      go(1);
   });
});
</script>
{% endblock %}
{% block content %}
    <ul class="objectlist">
      {% block ajax %}
        {% for book in object_list %}
            <li><a href="{{book.id}}"><h3 class="floatleft">{{ book }}</h3><span class="floatleft">by {{book.get_authors}}</span> {{book.genre}} &#9786;&#9785;: {{book.get_rating_percentage}} &#9998;: {{book.review_set.count}}</a></li>
        {% endfor %}
    </ul>
    {% endblock %}
    {% if is_paginated %}
    <div class="pagination">
      <a id="page_previous" {% if has_previous %} href="?page={{page_obj.previous_page_number}}" {% else %} class="inactive" {% endif %}>&lt; previous</a>
      Page {{page_obj.number}} of {{paginator.num_pages}}
      <a id="page_next" {% if has_next %} href="?page={{ page_obj.next_page_number }}" {% else %} class="inactive" {% endif %}>next &gt;</a>
    </div>
    {% endif %}
{% endblock %}
