{% extends "base.html" %}

{% block title %}Showing Book - {{book.name}}{% endblock %}

{% block head %}
<script type="text/javascript">
google.setOnLoadCallback(function() {
   rating_url = '{% url rate_book id=book.id,up_or_down="+" %}?ajax=true'
   //this url initially has a +, so that reverse works
   function rate_book(up_or_down) {
      $.get(rating_url.replace('+', up_or_down), function(data) {
         $('div.rating > span').html(data);
         updateMessages();
      });
   }
   $('#rate_positive').click(function(e) {
      e.preventDefault();
      rate_book('+');
   });
   $('#rate_negative').click(function(e) {
      e.preventDefault();
      rate_book('-');
   });
}); 
</script>
{% endblock %}

{% block header %}<h1>{{book}}
{% ifequal request.user book.created_by %}
<a href="{% url books.views.edit "book" book.id %}" class="headerlink">edit</a>
{% else %}
{% if perms.books.change_book %}
<a href="{% url books.views.edit "book" book.id %}" class="headerlink">edit</a>
{% endif %}
{% endifequal %}</h1>{% endblock %}
{% block content %}
{% if book.cover_image_authenticated and book.cover_image %}
<img src="{{ book.cover_image.url }}" class="bookimage" >
{% endif %}
<div class="author">written by {{book.authors.all|join:", "}}</div>
<div class="rating">Rating: <span>{{book.get_rating_percentage}}</span>
<a id="rate_positive" href="{% url books.views.rate_book book.id "+" %}">&#9786;</a>
<a id="rate_negative" href="{% url books.views.rate_book book.id "-" %}">&#9785;</a>
</div>
<blockquote>
{{book.blurb|linebreaks}}
</blockquote>
<div class="info">
Genre: {{book.genre}} 
{% if book.series %}| Series: {{book.series}}{% endif %}
{% if book.amazon_link %} | <a href="{{book.amazon_link}}">Amazon</a> {% endif %} | ISBN: <a href="http://isbndb.com/search-all.html?kw={{book.ISBN}}">{{book.ISBN}}</a>
</div>
<div class="reviews">
<h2>Reviews <a href="{% url books.views.add "review" %}?for_book={{book.id}}&back_to={% url books.views.show "book" book.id%}" class="headerlink">add a review</a></h2>
{% if not book.review_set.count %}
There are no reviews for this book &#9785;
{% endif %}
{% for review in book.review_set.all %}
<div class="review" id="{{review.id}}" class="review {% cycle 'review-even' 'review-odd' %}">
<strong>Reviewed by:</strong>
<a href="{% url user_profile_id whichuser=review.created_by.id %}">{{review.created_by}}</a>
<br/><strong>Rating: </strong> {{review.get_rating_display}}
<br/><blockquote>{{review.review_contents}}</blockquote>
</div>
{% endfor %}
</div>
{% endblock %}
