/* structure  - margin, padding, width, height, position, display*/
html {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
}

#navigation {
    margin: 0px;
}
#navigation ul {
    margin: auto;
    padding: 5px;
    width: 80%;
    margin: 0px 20% auto 0%;
}
#navigation ul li {
    display: inline; /* try float: left with something else in the nav div*/
    padding: 5px;
}

#page {
    width: 80%;
    padding:  0px 5px 5px 5px; /*top right bottom left*/
    margin: 0px 20% auto  0%;    
}

#content {
    margin: 0px 5px 0px 5px;
    padding: 5px;
}

#header {
    min-height: 50px;
    margin: 0px 5px 0px 5px;
    padding: 5px;
}

#footer {
    padding: 5px;
}

#sidebar {
    float: right;
    width: 18%;
}
#sidebar div {
    padding: 5px;
    margin: 5px;
}

h1,h2,h3,h4,h5,h6,h7 {
    margin: 0px;
}

input {
    padding: 1px;
}

a.headerlink {
    margin-left: 5px;
}

ul.form {
    list-style: none;
}
ul.form li {
    padding: 5px;
}
ul.form li label {
    margin-right: 10px;
    width: 200px;
    float: left;
}
ul.objectlist li {
    margin: 5px;
    padding: 10px;
}
ul.objectlist li .floatleft {
    float: left;
    margin-left: 5px;
}

.userimage {
    max-width: 200px;
    max-height: 200px;
}

blockquote {
    padding-left: 50px;
    padding-top: 10px;
    margin: 0px;
}

.review {
    padding: 5px;
}
.review + .review {
    margin-top: 5px;
}

.infobox {
    padding: 5px;
    margin: 5px;
}

.bookimage {
    padding: 5px;
    float: right;
    max-height: 300px;
    max-width: 150px;
    margin: 5px;
}

/* borders and backgrounds */
/* really need to make a class - curved - for curved borders! */
/* need to make a class for solid #aaa borders too */

body {
    background-color: #fff;
}

#navigation {
    border-bottom: 1px solid #aaa;
    background: url('header_bg.png') repeat-x;
}

#page {
    background-color: #fefefe;
    border-right: 1px solid #aaa;
}

#footer {
    border-top: 1px solid #aaa;
}

#sidebar div {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #aaa;
}
#sidebar .message {
    border-color: #ccc;
    background-color: #ffffbb;
}
#sidebar .message:hover {
    border-color: #aaa;
}

input {
    border: 2px solid #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
input:focus, input:hover {
    border: 2px solid #2c6776;
}

ul.form li label {
    border-bottom: 1px solid #aaa;
}

blockquote {
    background: top left no-repeat url('style/speechmarks.png');
}

ul.objectlist {
    list-style: none;
}
ul.objectlist li {
    border: 1px solid #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #fef;
}
ul.objectlist li:hover {
    background-color: #fec;
}

.review {
    background-color: #fef;
    border: 1px solid #aaa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.review + .review {
    border-top: 1px solid #aaa;
}

.infobox {
    border: 1px solid #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #fef;
}

.bookimage {
    border: 2px solid #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    background-color: #aaa;
}

/* font stuffs */

body {
    color: #444;
    font-family: "Nimbus Sans L", Tahoma, Verdana, sans-serif;
    font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
}

#navigation {
    text-align: right;
}
#navigation ul li a {
    text-decoration: none;
}

#footer {
    color: #2c6776;
    text-align: center;
}

input {
    font-family: Tahoma, sans;
    color: #444;
}
input:focus {
    color: black;
}
input:hover {
    color: #2c6776;
}

a {
    color: #2c6776;
}
a:hover {
    text-decoration: none;
    color: black;
}
a.headerlink {
    color: #aaa;
    font-size: 80%;
    text-decoration: none;
    font-style: normal;
    font-family: Tahoma, Verdana, sans-serif;
}

ul.objectlist li {
    text-align: right;
}
ul.objectlist li:hover a {
    color: black;
}

.rating a {
    text-decoration: none;
}