<style type="text/css">
    html {
    margin: 0px;
    padding: 0px;
    color: #444;
   }
   body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    top: 0px;
    position: relative;
    font-family: "Nimbus Sans L", Tahoma, Verdana, "Bitstream Vera Sans", "Deja Vu Sans";
    font-size: 1.1em;
   }
   #page {
      width: 60%;
      margin: auto;
      background-color: #fefefe;
      padding: 5px;
      padding-top: 0px;
      margin-top: 0px;
      border-right: 5px solid #aaa;
      border-left: 5px solid #aaa;
    }
    #header {
     min-height: 50px;
     margin: 5px;
     margin-top: 0px; margin-bottom: 0px;
     border: 5px solid #fff;
     border-top-width: 0px; border-bottom-width: 0px; border-right-width: 0px;
     padding: 5px;
    }
    #header:hover {
     border-left-color: #aaa;
    }
    #content {
     margin: 5px;
     margin-top: 0px; margin-bottom: 0px;
     border-top-width: 0px;
     border-bottom-width: 0px;
     padding: 5px;
    }
    h1, h2, h3, h4, h5, h6, h7 {
     margin: 0px;
     font-family: Sylfaen, Georgia;
     font-weight: normal;
    }
    #navigation {
    font-size: 20px;
    border-bottom: 1px solid #aaa;
    text-align: right;
    margin: 0px;
    background: url('http://127.0.0.1:8000/media/header_bg.png');
    }

#navigation ul {
    /*list-style-image: none;*/
    /*list-style-type: bullet;*/
    margin: auto;
    padding: 5px;
    width: 800px;
}

#navigation ul li {
    display: inline;
    padding: 5px;
    text-transform: lowercase;
}

#navigation ul li.last {
    padding-right: 5px;
}
#navigation ul li a, #user a {
text-decoration: none;
padding-right: 10px;
}

#footer {
 font-size: 20px;
 border-top: 1px solid #aaa;
 text-align: center;
 padding: 5px;
 color: #2c6776;
}
#messages {
float: right;
width: 18%;
}
#messages div.message{
  border: 1px solid #ccc;
  background-color: #ffeecc;
  margin-top: 5px;
  padding: 5px;
  color: #444;
}
#messages:hover div.message {
  border-color: #aaa;
  color: black;
}
#user {
float: left;
width: 18%;
padding: 5px;
}



input {
font-family: Tahoma, sans;
text-align: center;
color: #444;
}
input:focus {
color: black;
}
input.:hover {
 color: #2c6776;
}
input.largeinput {
font-size: 30px;
}

a {
    color: #2c6776;
}

a:hover {
    text-decoration: none;
    color: black;
}
p{
 border-left: 5px solid #fff;
}
p:hover{
 border-left: 5px solid #aaa;
}

a.headerlink{
color: #aaa;
margin-left: 5px;
text-decoration: none;
font-family: Tahoma, Verdana;
font-size: 80%;
}
a.headerlink:hover {
color: #2c6776;
}

ul.form {
list-style: none;
}
ul.form li {
 padding: 5px;
}

ul.form li label {
margin-right: 10px;
width: 200px;
float: left;
border-bottom: 1px solid #aaa;
}

ul.form li input:after {
content: "<br/>";
}
.userimage {
max-width: 200px;
max-height: 200px;
}

blockquote {
    padding-left: 50px;
    padding-top: 10px;
    margin: 0px;
    background: top left no-repeat url('http://127.0.0.1:8000/media/style/speechmarks.png');
}
ul.objectlist {
    list-style: none;
}
ul.objectlist li {
    border: 1px solid #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #fef;
    text-align: right;
}
ul.objectlist li .floatleft {
    float: left;
    text-decoration: none;
    margin-left: 5px;
}
ul.objectlist a {
    text-decoration: none;
}
ul.objectlist li:hover {
    background-color: #ffeecc;
}
ul.objectlist li:hover a {
    color: black;
}

.rating a {
    text-decoration: none;
} 

.review {
    background-color: #fef;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #aaa;
}

.review + .review {
    border-top: 1px solid #aaa;
    margin-top: 5px;
}

.infobox {
    border: 1px solid #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #fef;
    padding: 5px;
    margin: 5px;
}

.infobox:hover {
    background-color: #fec;
}

.bookimage {
  padding: 5px;
  border: 2px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: right;
  max-height: 300px;
  max-width: 150px;
  background-color: #aaa;
  margin: 5px;
}
    </style>
